node_modules
.env
zkp/build/
zkp/input/
zkp/circomlib/
*.zkey
*.ptau

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
